
.search {
  position: relative;
  color: #aaa;
  font-size: 16px;
  margin-bottom: 10px;
}

.search input {
  width: 250px;
  height: 32px;
  background: #fcfcfc;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-shadow: 0 0 3px #ccc, 0 10px 15px #ebebeb inset;
}

.search input { text-indent: 32px;}
.search .fa-search { 
  position: relative;
  top: 27px;
  left: -105px;
}

.searchBar{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 50%;
    margin: 0 auto;
}
.searchBar div{
  display: flex;
  align-items: center;
  margin: 0 20%;
}
