.App {
  text-align: center;
  width: 75%;
  max-width: 1024px;
  margin: 0 auto;
 
}

i{
  font-size: 28px;
  margin: 0 5px;
}
.post{

  display: flex;
  flex-direction: column;
  justify-content: center;
}

.post-header{
  display: flex;
  align-items: center;
  margin-left: 20px;
}

.thumbnail{
  border-radius: 50%;
  width: 35px;
  height: 35px;
  margin-right: 15px;
}

.post-image{
  width: 100%;
  height: auto;
}