.App {
  text-align: center;
  width: 75%;
  max-width: 1024px;
  margin: 0 auto;
 
}

.post{
width: 50%;
}

.post-header{
  display: flex;
  
  align-items: baseline;
  margin-left: 20px;
}

.thumbnail{
  border-radius: 50%;
  width: 35px;
  height: 35px;
}